<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>org.mypackage.controllers.StudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherServlet</servlet-name>
        <servlet-class>org.mypackage.controllers.TeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataServlet</servlet-name>
        <servlet-class>org.mypackage.controllers.DataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PercentServlet</servlet-name>
        <servlet-class>org.mypackage.controllers.PercentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>org.mypackage.controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.mypackage.controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>org.mypackage.controllers.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmServlet</servlet-name>
        <servlet-class>org.mypackage.controllers.ConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewClassServlet</servlet-name>
        <servlet-class>org.mypackage.controllers.NewClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateClassServlet</servlet-name>
        <servlet-class>org.mypackage.controllers.CreateClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinClassServlet</servlet-name>
        <servlet-class>org.mypackage.controllers.JoinClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClassServlet</servlet-name>
        <servlet-class>org.mypackage.controllers.DeleteClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteQuestion</servlet-name>
        <servlet-class>org.mypackage.controllers.deleteQuestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/TeacherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/DataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PercentServlet</servlet-name>
        <url-pattern>/PercentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmServlet</servlet-name>
        <url-pattern>/ConfirmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewClassServlet</servlet-name>
        <url-pattern>/NewClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateClassServlet</servlet-name>
        <url-pattern>/CreateClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinClassServlet</servlet-name>
        <url-pattern>/JoinClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClassServlet</servlet-name>
        <url-pattern>/DeleteClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteQuestion</servlet-name>
        <url-pattern>/deleteQuestion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>org.mypackage.controllers.SessionListener</listener-class>
    </listener>
</web-app>
